steedos-app/main/node-red/flows/test.json
[
  {
    "id": "69fa706f.e8d1",
    "type": "tab",
    "label": "test",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3ab95438.ba900c",
    "type": "inject",
    "z": "69fa706f.e8d1",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "41cfa202.3149ac",
        "d9078c3e.1c678"
      ]
    ]
  },
  {
    "id": "41cfa202.3149ac",
    "type": "function",
    "z": "69fa706f.e8d1",
    "name": "",
    "func": "msg.payload = await context.global.broker.call('greeter.hello')\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 200,
    "wires": [
      [
        "8169be4e.cb70e"
      ]
    ]
  },
  {
    "id": "8169be4e.cb70e",
    "type": "debug",
    "z": "69fa706f.e8d1",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "d9078c3e.1c678",
    "type": "debug",
    "z": "69fa706f.e8d1",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 140,
    "wires": []
  }
]