node-red-app/flows.json
[{"id":"99dcad5d.d38ef","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"55d0ef1b.21d92","type":"redis-config","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"626021d1.626ab","type":"inject","z":"99dcad5d.d38ef","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["4719c26e.07d56c"]]},{"id":"4719c26e.07d56c","type":"debug","z":"99dcad5d.d38ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"23dc44dc.5f1e8c","type":"redis-instance","z":"99dcad5d.d38ef","server":"55d0ef1b.21d92","name":"","topic":"redis","location":"flow","x":90,"y":200,"wires":[]},{"id":"1ec83759.d3a029","type":"redis-in","z":"99dcad5d.d38ef","server":"55d0ef1b.21d92","command":"subscribe","name":"","topic":"user.login","obj":true,"timeout":0,"x":100,"y":140,"wires":[[]]}]